@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Editace kurzů";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Sekce pro přidávání kurzů do systému a následné přidání studentů a testů ke kurzu.</p>


<h4>Přehled kurzů</h4>

@Html.ActionLink("Přidání kurzu do systému", "CourseAdd", "Teacher", new { @class = "btn btn-success" })
<br /><br />

<table class="table table-striped">
    <tr>
        <th>Název:</th>
        <th>Školní rok:</th>
        <th>Čas konání:</th>
        <th>poznamka:</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var c in ViewBag.courses)
    {

        <tr>
            <td><a href="@Url.Action("CourseDetail", "Teacher", new {id = @c.ID})">@c.name</a></td>
            <td>@c.schoolYear</td>
            <td>@c.meetingTime</td>
            <td>@c.note</td>
            <td><a href="@Url.Action("CourseEdit", "Teacher")"><span class="glyphicon glyphicon-edit"></span></a></td>
            <td><a href="@Url.Action("CourseRemove", "Teacher", new {id = @c.ID})"><span class="glyphicon glyphicon-remove"></span></a></td>   
        </tr>
    }
</table>