@model ResponseMois.Model.Course
@{
    var c = ViewBag.course;
    ViewBag.Title = "Detail kurzu - " + @c.name;
}

<h1>Detail kurzu - @c.name</h1>
<b>rok:</b> @c.schoolYear <br />
<b>čas konání:</b> @c.meetingTime <br />
<b>vyučující:</b> @c.Teacher.firstName @c.Teacher.lastName <br /><br />

<a class="btn btn-success" href="@Url.Action("CourseAssignStudents", "Teacher", new { id = @c.ID})">Přiřazení studenta ke kurzu</a>
<a class="btn btn-success" href="@Url.Action("CourseAssignTests", "Teacher", new { id = @c.ID})">Přiřazení testu ke kurzu</a>

<h2>Studenti v kurzu</h2>
<table class="table table-striped">
    <tr>
        <th>Student</th>
    </tr>
    @foreach (var sic in ViewBag.studentsInCourse)
    {

        <tr>
            <td>@sic.firstName @sic.lastName</td>
            <td><a href="@Url.Action("StudentRemoveFromCourse", "Teacher", new {id = @c.ID})"><span class="glyphicon glyphicon-remove"></span></a></td>
        </tr>
    }
</table>

<h2>Testy v kurzu</h2>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
